<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aviation.mapper.CompanyMapper">
    <select id="getCompanyInfo" resultType="Company" parameterType="java.util.Map">
        select company_number,company_name from company
        <choose>
            <when test="params.type == 1">
                where uid = #{params.uid}
            </when>
            <when test="type == 2">
                where company_number = #{params.company_number} group by company_number
            </when>
            <otherwise>
                where 1 = 1
            </otherwise>
        </choose>
    </select>
    
    <select id="getAllCompany" resultType="Company" parameterType="java.util.Map">
        select company_number,company_name from company group by company_number
    </select>

    <insert id="addCompany"  parameterType="java.util.Map">
        insert into company (company_number,company_name,uid) value(#{params.company_number},#{params.company_name},#{params.uid})
    </insert>

    <delete id="delCompany" parameterType="java.lang.String">
        delete u from users u,company co where co.company_number = #{company_number} and u.uid = co.uid;
        delete from company where company_number = #{company_number}
    </delete>

</mapper>