<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aviation.mapper.FlightMapper">
    <select id="getAllFlight" resultType="Flight" parameterType="java.util.Map">
        select * from flight
        <choose>
            <when test="type == 2">
                where flight_start_time between #{nowDate} and '23:59:59'
            </when>
            <when test="type == 1">
                where company_name = #{company_name}
            </when>
            <otherwise>
                where 1 = 1
            </otherwise>
        </choose>
    </select>

    <select id="getFlightInfo" resultType="Flight" parameterType="java.util.Map">
        select * from flight where flight_id = #{flight_id}
    </select>

    <select id="searchFlight" resultType="Flight" parameterType="java.util.Map">
        select * from flight where 1 = 1
            <if test="params.flight_start != ''">
                and flight_start = #{params.flight_start}
            </if>
            <if test="params.flight_end != ''">
                and flight_end = #{params.flight_end}
            </if>
            <if test="params.date == '' or params.date == params.nowdate">
                and flight_start_time between #{params.nowtime} and '23:59:59'
            </if>

    </select>

    <insert id="addFlight" parameterType="java.util.List">
        insert into flight(flight_id,flight_number,flight_start,flight_end,flight_start_time,flight_arrive_time,
        company_name,flight_price,flight_time,seat_basic_count) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.flight_id},#{item.flight_number},#{item.flight_start},#{item.flight_end},#{item.flight_start_time},#{item.flight_arrive_time},
            #{item.company_name},#{item.flight_price},#{item.flight_time},#{item.seat_basic_count}
            )
        </foreach>
    </insert>

    <update id="updateFlight" parameterType="com.aviation.entity.Flight">
        update flight set flight_number = #{flight_number},flight_start = #{flight_start}, flight_end = #{flight_end},
        flight_start_time = #{flight_start_time},flight_arrive_time=#{flight_arrive_time},company_name = #{company_name},
        flight_price = #{flight_price},flight_time = #{flight_time},seat_basic_count = #{seat_basic_count}
        where flight_id = #{flight_id}

    </update>
    <delete id="delFlight" parameterType="java.lang.String">
        delete from flight where flight_id = #{flight_id}
    </delete>

</mapper>