<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aviation.mapper.SeatMapper">
    <select id="CountSeat" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(seat_id) from seat where seat_number not in
        (select seat_number from orders where flight_id = #{params.flight_id} and seat_number is not null
        <if test="params.date == ''">
        and flight_date = #{params.nowdate})
        </if>
        <if test="params.date != ''">
            and flight_date = #{params.date})
        </if>
        and flight_id = #{params.flight_id}
    </select>

    <select id="getSeatList" resultType="Seat" parameterType="java.util.Map">
        select * from seat where seat_number not in
        (select seat_number from orders where flight_id = #{params.flight_id} and flight_date = #{params.date} and seat_number is not null)
        and flight_id = #{params.flight_id}
    </select>

    <insert id="AddSeat" parameterType="java.util.List">
        insert into seat(flight_number,seat_number,flight_id) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.flight_number},#{item.seat_number},#{item.flight_id})
        </foreach>
    </insert>


</mapper>